# Python kesh fayllari
__pycache__/
*.pyc
*.pyo
*.pyd

# Log fayllari
*.log
logs/

# Ma'lumotlar bazasi va saqlash fayllari
data/
*.db
*.sqlite3

# Virtual muhit (agar keyinchalik yaratilsa)
venv/
.venv/
env/
*.duckdb
*.duckdb.wal
*.log
__pycache__/
data/
logs/
